
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  background-image: url("/images/wall3.jpg");
  background-size: cover;
  height: 100vh;
  padding: 0;
  margin-top: 0;
}
#Login{
  margin-top: auto;
}
#content{
  margin-top: 10rem;
}

#sign ,#gren{
  background-color: #939B62;
  color: rgb(255, 255, 255);
}
section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll-down {
  height: 80px;
  width: 50px;
  position: absolute;
  left: 48%;
  bottom: 20px;
  border-radius: 20px;
  cursor: pointer;
}
.search{
  height: 80px;
  width: 50px;
  position: absolute;
  left: 2%;
  top: 300px;
  border-radius: 20px;
  cursor: pointer;
}
.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 50px;
  width: 50px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid rgb(255, 255, 255);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s;
}

@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}

.cover-container {
  max-width: 42em;
}
